/*@page { margin: 0.1rem; }*/
@page {
    margin: 100px 25px;
}

header {
    position: fixed;
    top: -70px;
    left: 0px;
    right: 0px;
    height: 140px;
    /** Extra personal styles **/
    /*background-color: #03a9f4;*/
    /*color: white;*/
    /*text-align: center;*/
    /*line-height: 35px;*/
}
.header-logo{
    width:740px;
    height: auto;
    /*padding-bottom:100px;*/
    /*padding-top:10px;*/
}
footer {
    border-top: 4px dotted #e5e3e3;
    position: fixed;
    bottom: -50px;
    left: 0px;
    right: 0px;
    height: 120px;

    /** Extra personal styles **/
    /*background-color: #03a9f4;*/
    /*color: white;*/
    /*text-align: center;*/
    /*line-height: 35px;*/
}
.footer-section1{
    padding-top: 10px;
}
.footer-section2{
    padding-top: 10px;
    text-align: right;
    /*margin-right: 10px;*/
}


/*body, h1, h2, h3, h4, h5, h6{*/
    /*font-family: 'Arial', serif;*/
/*}*/


.container{
    padding:20px;
}
.content{
    padding:0px 10px 10px 10px;
}
.logo{
	height:60px;
	width:150px;
}
.inner-content-purchase{
	margin-top:30px;
	padding-top:30px;
}
.logo-div{
	border-bottom: 2px solid black;
}
.order-details{
	padding-top:190px;
}
table{
	width:100%;
}
tr,td{
	padding-left:0px;
	height:15px;
	padding-right:0px;
}
th{
    width: 300px;
}
.inner_div{
	padding-top:80px;
}
.issue-text td{
	text-decoration:underline;
}
.acknowledge table{
	margin-top:40px;
}
li{
    padding-bottom: 5px;
}
/*!* quotation css start*!*/
hr{
     width:98%;
     /*float:left;*/
     margin-left:0px;
     background-color:#e5e3e3;
     padding-top:10px;
     border:0px;
 }
.linebreak{
     /*width:100%;*/
     float:left;
     margin-right:0px;
     background-color:#e5e3e3;
     padding-top:5px;
     border:0px;
}

.quotation{
    padding-top:24px;
	padding-right:180px;
	font-size:28px;
}
.order p{
	padding-right:190px;

}
.payment{
	padding-right:50px;
	text-align:right;
}
.company-details{
    list-style-type:none;
	padding-left:0px;
}

.order-info{
    /*margin-right:300px;*/
    /*list-style-type:none;*/
    padding-top: 0px;
    padding-bottom: 5px;
    padding-right:4px;
    /*width:330px*/
}

.address-tab tr{
    padding-right:20px;
}
.address-tab td:nth-child(1){
    padding-right:20px
}
.address-detail td{
    padding: 20px 40px 20px 0px;
}
.remark-detail td{
    padding: 15px 40px 15px 0px;
}

.company-address{
	padding-top:20px;
}
/*.table_items{*/
	/*padding: 20px 0px 20px 0px;*/
/*}*/

#inv_order_items th {
    padding-top: 0px;
    padding-bottom: 0px;
    text-align: left;
    background-color: #4CAF50;
    color: white;
}

.page-break {
    /*page-break-before: always;*/
    page-break-inside: auto;
}

/*thead:before, thead:after { display: none; }*/
/*tbody:before, tbody:after { display: none; }*/


/*purchase order style*/

.purchase_header{
    width:300px;
    height: auto;
    /*padding-bottom:100px;*/
    /*padding-top:10px;*/
}