@page { margin: 0.1rem; }

body, h1, h2, h3, h4, h5, h6{
    font-family: 'Arial', serif;
}

.container{
    padding:20px;
}
.logo{
	height:60px;
	width:150px;
}
.inner-content-purchase{
	margin-top:30px;
	padding-top:30px;
}
.logo-div{
	border-bottom: 2px solid black;
}
.order-details{
	padding-top:190px;
}
table{
	width:100%;
}
th,td{
	padding-left:0px;
	height:15px;
	padding-right:0px;
}
th{
    width: 300px;
}
.inner_div{
	padding-top:80px;
}
.issue-text td{
	text-decoration:underline;
}
.acknowledge table{
	margin-top:40px;
}
li{
    padding-bottom: 5px;
}
/*!* quotation css start*!*/
hr{
     width:42%;
     float:right;
     margin-right:0px;
     background-color:#e5e3e3;
     padding-top:10px;
     border:0px;
 }
.linebreak{
     width:100%;
     float:left;
     margin-right:0px;
     background-color:#e5e3e3;
     padding-top:5px;
     border:0px;
}

.quotation{
    padding-top:24px;
	padding-right:180px;
	font-size:28px;
}
.order p{
	padding-right:190px;

}
.payment{
	padding-right:50px;
	text-align:right;
}
.company-details{
	padding-left:0px;
}
.logo-quotation{
	height:90px;
	padding-top:10px;
}
.address-tab tr{
    padding-right:20px;
}
.address-tab td:nth-child(1){
    padding-right:20px
}
.address-detail td{
    padding: 20px 40px 20px 0px;
}
.remark-detail td{
    padding: 15px 40px 15px 0px;
}
.content{
	padding:30px;
}
.company-address{
	padding-top:20px;
}
/*.table_items{*/
	/*padding: 20px 0px 20px 0px;*/
/*}*/



